@use "./base.scss";

// put your custom CSS here!

figure.image-with-caption {
  margin: 1rem 0;
}

figure.image-with-caption > img {
  margin: 0;
}

figure.image-with-caption > figcaption {
  margin-top: 0.4rem;
  text-align: center;
  color: var(--gray);
  font-size: 0.9rem;
}
